# .github/CODEOWNERS

# --------------------------------------------------------
# 默认规则：没人管的文件归你
# --------------------------------------------------------
* @LosFurina

# --------------------------------------------------------
# 1. Infra 团队 (负责基建、配置、CI)
# --------------------------------------------------------
Dockerfile              @RevieU-Corp/Infra-Team
nginx/                  @RevieU-Corp/Infra-Team
vite.config.ts          @RevieU-Corp/Infra-Team
vitest.config.ts        @RevieU-Corp/Infra-Team
commitlint.config.js    @RevieU-Corp/Infra-Team
tsconfig.json           @RevieU-Corp/Infra-Team
package.json            @RevieU-Corp/Infra-Team
package-lock.json       @RevieU-Corp/Infra-Team
.github/                @RevieU-Corp/Infra-Team

# --------------------------------------------------------
# 2. Frontend 团队 (负责业务源码)
# --------------------------------------------------------
src/                    @RevieU-Corp/Frontend-Devs
index.html              @RevieU-Corp/Frontend-Devs

# --------------------------------------------------------
# 3. Arch 团队 (负责文档、元数据)
# --------------------------------------------------------
README.md               @RevieU-Corp/Arch-Team
docs/                   @RevieU-Corp/Arch-Team
metadata.json           @RevieU-Corp/Arch-Team