# .github/CODEOWNERS

# --------------------------------------------------------
# 默认规则：没人管的文件归你
# --------------------------------------------------------
* @LosFurina

# --------------------------------------------------------
# 1. Infra 团队 (负责基建、配置、CI)
# --------------------------------------------------------
Dockerfile              @revieu-corp/infra
nginx/                  @revieu-corp/infra
vite.config.ts          @revieu-corp/infra
vitest.config.ts        @revieu-corp/infra
commitlint.config.js    @revieu-corp/infra
tsconfig.json           @revieu-corp/infra
package.json            @revieu-corp/infra
package-lock.json       @revieu-corp/infra
.github/                @revieu-corp/infra

# --------------------------------------------------------
# 2. Frontend 团队 (负责业务源码)
# --------------------------------------------------------
src/                    @revieu-corp/fe
index.html              @revieu-corp/fe

# --------------------------------------------------------
# 3. Arch 团队 (负责文档、元数据)
# --------------------------------------------------------
README.md               @revieu-corp/ui
docs/                   @revieu-corp/ui
metadata.json           @revieu-corp/ui